<template>
  <div id="app">
    <main-layout></main-layout>
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'
export default {
  components: {
    MainLayout
  }
}
</script>
